<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Q236875.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Q236875.Properties.Settings.nwindConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\nwind.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <userSettings>
        <Q236875.Properties.Settings>
            <setting name="gridView1ActiveFilterString" serializeAs="String">
                <value />
            </setting>
            <setting name="dockPanel1Dock" serializeAs="String">
                <value>Left</value>
            </setting>
        </Q236875.Properties.Settings>
    </userSettings>
</configuration>